In [1]:
import pandas as pd

In [2]:
def load(data_dir='datasets/GSE121239/GSE121239/'): 
    raw_expre = pd.read_csv(data_dir+'/raw_expre.csv')  
    log2_expre = pd.read_csv(data_dir+'/log2_expre.csv')  
    pheno = pd.read_csv(data_dir+'/pheno.csv') 
    return raw_expre, log2_expre, pheno

In [3]:
raw_expre, log2_expre, pheno = load(data_dir='datasets/GSE121239/GSE121239/')

In [4]:
raw_expre.describe()

,GSM3428310,GSM3428311,GSM3428312,GSM3428313,GSM3428314,GSM3428315,GSM3428316,GSM3428317,GSM3428318,GSM3428319,...,GSM3428612,GSM3428613,GSM3428614,GSM3428615,GSM3428616,GSM3428617,GSM3428618,GSM3428619,GSM3428620,GSM3428621
count,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,...,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000
mean,4.600724,4.606604,4.641083,4.585992,4.628467,4.592112,4.602815,4.622795,4.618717,4.614495,...,4.573430,4.594850,4.643171,4.624134,4.572863,4.574256,4.573043,4.635037,4.586081,4.589660
std,2.283889,2.278388,2.257194,2.253591,2.262135,2.329537,2.348381,2.337161,2.331675,2.288221,...,2.213276,2.224472,2.162191,2.296377,2.321670,2.329325,2.269620,2.329273,2.378323,2.365780
min,0.763863,0.855421,0.745363,0.850734,0.856247,0.880763,0.857468,0.732397,0.918523,0.874992,...,0.826496,0.916001,0.863910,0.934410,0.795534,0.794043,0.676150,0.778143,0.836175,0.801726
25%,2.751805,2.769751,2.822814,2.788184,2.801049,2.685433,2.652370,2.691614,2.687092,2.761205,...,2.827020,2.824400,2.973784,2.765207,2.691096,2.688381,2.722298,2.711517,2.611395,2.622685
50%,4.175783,4.168819,4.169906,4.134944,4.209574,4.152978,4.141095,4.145430,4.143765,4.098815,...,4.196306,4.220579,4.264996,4.140353,4.110725,4.114387,4.129158,4.154335,4.112515,4.117459
75%,6.100202,6.096056,6.128035,6.047994,6.108009,6.166461,6.245304,6.218312,6.252014,6.156449,...,5.955205,5.961727,5.875288,6.147094,6.071527,6.094763,6.062111,6.245681,6.267197,6.261789
max,13.281393,13.230091,13.316811,13.065238,13.288153,13.322194,13.292039,13.021402,13.225883,13.304145,...,13.473700,13.500318,13.668591,13.778893,13.359825,13.448374,13.369460,13.678963,13.110688,13.315105

In [5]:
log2_expre.describe()

,GSM3428310,GSM3428311,GSM3428312,GSM3428313,GSM3428314,GSM3428315,GSM3428316,GSM3428317,GSM3428318,GSM3428319,...,GSM3428612,GSM3428613,GSM3428614,GSM3428615,GSM3428616,GSM3428617,GSM3428618,GSM3428619,GSM3428620,GSM3428621
count,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,...,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000,54715.000000
mean,4.600724,4.606604,4.641083,4.585992,4.628467,4.592112,4.602815,4.622795,4.618717,4.614495,...,4.573430,4.594850,4.643171,4.624134,4.572863,4.574256,4.573043,4.635037,4.586081,4.589660
std,2.283889,2.278388,2.257194,2.253591,2.262135,2.329537,2.348381,2.337161,2.331675,2.288221,...,2.213276,2.224472,2.162191,2.296377,2.321670,2.329325,2.269620,2.329273,2.378323,2.365780
min,0.763863,0.855421,0.745363,0.850734,0.856247,0.880763,0.857468,0.732397,0.918523,0.874992,...,0.826496,0.916001,0.863910,0.934410,0.795534,0.794043,0.676150,0.778143,0.836175,0.801726
25%,2.751805,2.769751,2.822814,2.788184,2.801049,2.685433,2.652370,2.691614,2.687092,2.761205,...,2.827020,2.824400,2.973784,2.765207,2.691096,2.688381,2.722298,2.711517,2.611395,2.622685
50%,4.175783,4.168819,4.169906,4.134944,4.209574,4.152978,4.141095,4.145430,4.143765,4.098815,...,4.196306,4.220579,4.264996,4.140353,4.110725,4.114387,4.129158,4.154335,4.112515,4.117459
75%,6.100202,6.096056,6.128035,6.047994,6.108009,6.166461,6.245304,6.218312,6.252014,6.156449,...,5.955205,5.961727,5.875288,6.147094,6.071527,6.094763,6.062111,6.245681,6.267197,6.261789
max,13.281393,13.230091,13.316811,13.065238,13.288153,13.322194,13.292039,13.021402,13.225883,13.304145,...,13.473700,13.500318,13.668591,13.778893,13.359825,13.448374,13.369460,13.678963,13.110688,13.315105

In [6]:
pheno.describe()

,channel_count,taxid_ch1,contact_zip/postal_code,data_row_count,imputed neutrophil percentage:ch1,patient id:ch1,sledai:ch1
count,312.0,312.0,312.0,312.0,241.000000,292.000000,312.000000
mean,1.0,9606.0,18016.0,54715.0,63.951037,1315.304795,2.612179
std,0.0,0.0,0.0,0.0,15.145685,629.974962,3.137817
min,1.0,9606.0,18016.0,54715.0,14.000000,24.000000,0.000000
25%,1.0,9606.0,18016.0,54715.0,53.800000,759.000000,0.000000
50%,1.0,9606.0,18016.0,54715.0,64.300000,1424.000000,2.000000
75%,1.0,9606.0,18016.0,54715.0,74.800000,1913.000000,4.000000
max,1.0,9606.0,18016.0,54715.0,94.700000,2132.000000,18.000000

In [8]:
raw_expre.head()

,Unnamed: 0,GSM3428310,GSM3428311,GSM3428312,GSM3428313,GSM3428314,GSM3428315,GSM3428316,GSM3428317,GSM3428318,...,GSM3428612,GSM3428613,GSM3428614,GSM3428615,GSM3428616,GSM3428617,GSM3428618,GSM3428619,GSM3428620,GSM3428621
0,1007_PM_s_at,4.955257,4.870351,4.889382,4.956931,4.518659,4.039076,4.363994,4.474612,4.109501,...,4.143518,4.163726,3.552997,4.688624,4.101748,3.987773,4.674258,4.855265,5.227129,5.702039
1,1053_PM_at,5.984784,6.119432,5.914195,5.887814,5.962590,6.213503,6.523682,6.630676,6.424815,...,5.601486,5.307239,5.585876,6.538760,6.420332,5.949633,5.587069,6.032248,6.317659,6.449117
2,117_PM_at,9.477945,9.828793,9.719707,9.148228,9.378308,9.688581,8.985668,10.329326,8.890190,...,9.077410,9.349135,9.554533,9.941707,10.278584,9.672171,8.650779,9.264324,9.430051,9.660996
3,121_PM_at,4.553229,4.487615,4.645168,4.681996,4.990632,4.762670,4.528352,4.693206,3.875943,...,5.177162,4.961182,5.267552,4.404966,4.013917,4.234865,4.418242,4.269110,4.115500,4.135403
4,1255_PM_g_at,1.921190,2.169639,2.410481,1.885852,1.987256,2.029976,2.110129,2.136902,2.169476,...,2.224418,2.158327,2.316911,1.942149,1.929420,1.862300,1.842566,2.258901,1.951895,1.896087

In [9]:
log2_expre.head()

,Unnamed: 0,GSM3428310,GSM3428311,GSM3428312,GSM3428313,GSM3428314,GSM3428315,GSM3428316,GSM3428317,GSM3428318,...,GSM3428612,GSM3428613,GSM3428614,GSM3428615,GSM3428616,GSM3428617,GSM3428618,GSM3428619,GSM3428620,GSM3428621
0,1007_PM_s_at,4.955257,4.870351,4.889382,4.956931,4.518659,4.039076,4.363994,4.474612,4.109501,...,4.143518,4.163726,3.552997,4.688624,4.101748,3.987773,4.674258,4.855265,5.227129,5.702039
1,1053_PM_at,5.984784,6.119432,5.914195,5.887814,5.962590,6.213503,6.523682,6.630676,6.424815,...,5.601486,5.307239,5.585876,6.538760,6.420332,5.949633,5.587069,6.032248,6.317659,6.449117
2,117_PM_at,9.477945,9.828793,9.719707,9.148228,9.378308,9.688581,8.985668,10.329326,8.890190,...,9.077410,9.349135,9.554533,9.941707,10.278584,9.672171,8.650779,9.264324,9.430051,9.660996
3,121_PM_at,4.553229,4.487615,4.645168,4.681996,4.990632,4.762670,4.528352,4.693206,3.875943,...,5.177162,4.961182,5.267552,4.404966,4.013917,4.234865,4.418242,4.269110,4.115500,4.135403
4,1255_PM_g_at,1.921190,2.169639,2.410481,1.885852,1.987256,2.029976,2.110129,2.136902,2.169476,...,2.224418,2.158327,2.316911,1.942149,1.929420,1.862300,1.842566,2.258901,1.951895,1.896087

In [14]:
pheno.head()

,Unnamed: 0,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,...,contact_country,supplementary_file,data_row_count,relation,disease state:ch1,imputed neutrophil percentage:ch1,patient id:ch1,sledai:ch1,tissue:ch1,visit date:ch1
0,GSM3428310,PBMC_Healthy01,GSM3428310,Public on Oct 15 2018,Oct 15 2018,Oct 15 2018,RNA,1,PBMC_Healthy01,Homo sapiens,...,Spain,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM3428...,54715,Reanalysis of: GSM1100843,Healthy,NaN,NaN,0,PBMC,NaN
1,GSM3428311,PBMC_Healthy02,GSM3428311,Public on Oct 15 2018,Oct 15 2018,Oct 15 2018,RNA,1,PBMC_Healthy02,Homo sapiens,...,Spain,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM3428...,54715,Reanalysis of: GSM1100844,Healthy,NaN,NaN,0,PBMC,NaN
2,GSM3428312,PBMC_Healthy03,GSM3428312,Public on Oct 15 2018,Oct 15 2018,Oct 15 2018,RNA,1,PBMC_Healthy03,Homo sapiens,...,Spain,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM3428...,54715,Reanalysis of: GSM1100845,Healthy,NaN,NaN,0,PBMC,NaN
3,GSM3428313,PBMC_Healthy04,GSM3428313,Public on Oct 15 2018,Oct 15 2018,Oct 15 2018,RNA,1,PBMC_Healthy04,Homo sapiens,...,Spain,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM3428...,54715,Reanalysis of: GSM1100846,Healthy,NaN,NaN,0,PBMC,NaN
4,GSM3428314,PBMC_Healthy05,GSM3428314,Public on Oct 15 2018,Oct 15 2018,Oct 15 2018,RNA,1,PBMC_Healthy05,Homo sapiens,...,Spain,ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM3428...,54715,Reanalysis of: GSM1100847,Healthy,NaN,NaN,0,PBMC,NaN

In [13]:
pheno['disease state:ch1'].unique()

array(['Healthy', 'Systemic Lupus Erythematosus'], dtype=object)